{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"} 
        aero/aero {:mvn/version "1.1.6"}
        com.github.igrishaev/mask {:mvn/version "0.1.1"}
        com.snowflake/snowpark {:mvn/version "1.14.0"}
        metosin/malli {:mvn/version "0.19.1"}
        potemkin/potemkin {:mvn/version "0.4.8"}}
 :aliases
 {:dev {:extra-paths ["dev" "test" "integration" "uat"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                     org.clojure/tools.namespace {:mvn/version "1.5.0"}
                     io.github.classgraph/classgraph {:mvn/version "4.8.181"}
                     net.cgrand/xforms {:mvn/version "0.19.6"}
                     tortue/spy {:mvn/version "2.15.0"}}
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      tortue/spy {:mvn/version "2.15.0"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "test"]
         :exec-fn cognitect.test-runner.api/test}
  :integration {:extra-paths ["integration" "test"]
                :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                             io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]
                :main-opts ["-m" "cognitect.test-runner"
                            "-d" "integration"]
                :exec-fn cognitect.test-runner.api/test}
  :uat {:extra-paths ["uat" "test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                     io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                     scicloj/tablecloth {:mvn/version "7.029"}}
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]
        :main-opts ["-m" "cognitect.test-runner"
                    "-d" "uat"]
        :exec-fn cognitect.test-runner.api/test}
  :api-scanner-snowpark {:extra-paths ["dev"]
                         :exec-fn api-scanner/scan-package
                         :exec-args {:package "com.snowflake.snowpark_java"
                                     :javadoc-base "https://javadoc.snowflake.com/snowpark-java/1.14.0"}}
  :api-scanner-snowpark-clj {:extra-paths ["dev"]
                             :exec-fn api-scanner/scan-ns
                             :exec-args {:namespace snowpark-clj.core
                                         :github-base "https://github.com/alza-bitz/snowpark-clj/tree/main/src"}}
  :api-coverage {:extra-paths ["dev"]
                 :exec-fn api-coverage/generate}}}